#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  --color-primary: ;
  --color-hover: #484848;
  --color-accent: ;
  --color-text: #fff;
  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: #16e0bd;

  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Inter', sans-serif;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --fw-reg: 300;
  --fw-bold: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, 'Segoe UI', sans-serif;
  color: var(--color-text);
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url('/src/assets/tsarevets_abstract.png');
  background-position-x: center;
}

main {
  padding: min(5em, 7%);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.nav {
  position: fixed;
  width: 100%;
  margin: 2rem 0;
  justify-content: flex-end;
  align-items: center;
}

#nav__primary {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
}

.nav li {
  display: flex;
}

.nav li .nav__menu-button {
  display: none;
}

.nav .nav__link {
  display: flex;
  text-decoration: none;
  color: var(--clr-light);
  padding: 1em 2em;
  transition: background-color 150ms ease;
}

.nav .nav__link:hover {
  background-color: var(--color-hover);
}

.nav .nav__link-active {
  border-bottom: 2px solid var(--color-text);
}

/* media queries */

@media (max-width: 700px) {
  #nav__primary {
    position: fixed;
    z-index: 500;
    inset: 0 0 0 30%;
    padding: min(30vh, 10rem) 2em;
    border-left: 1px solid var(--color-hover);
    display: flex;
    flex-direction: column;
    --gap: 2em;
  }

  .nav ul {
    width: 100%;
  }

  .nav .nav__link {
    width: 100%;
    padding-left: 2.5em;
  }

  .nav__menu-button {
    display: block;
  }

  .nav__mobile-toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 3rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
}

/* misc */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#button__navbar_close {
  width: 40px;
  aspect-ratio: 1;
  background: transparent;
  border: none;
}

.menu-icon {
  fill: #555555;
}

button {
  cursor: pointer;
}
