:root {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-page);

  /* Neutrals */
  --gray-0: hsl(0 0% 100%);
  --gray-50: hsl(0 0% 97%);
  --gray-100: hsl(0 0% 92%);
  --gray-300: hsl(0 0% 70%);
  --gray-500: hsl(0 0% 55%);
  --gray-700: hsl(210 10% 30%);
  --gray-800: hsl(210 10% 20%);
  --gray-900: hsl(0 0% 11%);

  --black-900-a10: hsl(0 0% 0% / 0.1);
  --black-900-a20: hsl(0 0% 0% / 0.2);
  --blue-700-a10: hsl(208 91% 30% /0.1);
  --blue-700-a20: hsl(208 91% 30% / 0.1);

  /* main color (blue) */
  --blue-50: hsl(208 91% 95%);
  --blue-50-a50: hsl(208 91% 95% / 0.5);
  --blue-100: hsl(208 91% 78%);
  --blue-300: hsl(208 91% 70%);
  --blue-500: hsl(208 91% 55%);
  --blue-700: hsl(208 91% 30%);
  --blue-800: hsl(208 91% 20%);
  --blue-900: hsl(208 91% 9%);
  --blue-900-a80: hsl(208 91% 9% / 0.8);

  /* accent color (teal) */
  --teal-50: hsl(186 54% 95%);
  --teal-100: hsl(186 54% 78%);
  --teal-300: hsl(186 54% 70%);
  --teal-500: hsl(186 54% 55%);
  --teal-700: hsl(186 54% 30%);
  --teal-800: hsl(186 54% 20%);
  --teal-900: hsl(186 54% 9%);

  /* other colors */
  --orange-300: hsl(357 61% 37%);
  --orange-500: hsl(19 81% 56%);
  --orange-900: hsl(19 81% 15%);
  --blue-gray-800: hsl(215 15% 16%);

  --green-500: hsl(146 33% 21%);
  --violet-500: hsl(285 29% 21%);

  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Inter', sans-serif;

  /* font-size */
  --fs-body: 1rem;
  --fs-h1: 3.5rem;
  --fs-h2: 2.25em;
  --fs-h3: 1.75rem;
  --fs-small: 0.875rem;
  --fs-xsmall: 0.6rem;

  /* line heights */
  --lh-body: 1;
  --lh-heading: 1.2;

  /* font weight */
  --fw-reg: 400;
  --fw-bold: 800;
}

:root.theme-light {
  /* backgrounds */
  --bg-page: var(--blue-50);
  --bg-button: var(--teal-100);
  --bg-nav: var(--blue-50-a50);

  /* main color */
  --color-primary-main: var(--blue-100);
  --color-primary-hover: var(--blue-300);
  --color-primary-active: var(--blue-500);

  /* accent color */
  --color-accent-main: var(--teal-300);
  --color-accent-hover: var(--teal-500);
  --color-accent-active: var(--teal-700);

  /* text */
  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-700);

  /* borders */
  --border-subtle: var(--black-900-a20);
  --border-strong: var(--black-900-a10);

  /* Terminal */
  --terminal-header: var(--gray-100);
  --terminal-bg: var(--gray-50);
  --terminal-key: var(--green-500);
  --terminal-value: var(--violet-500);

  /* Project */
  --project-card-bg: var(--gray-100);
  --project-card-tool-text: var(--teal-700);
  --project-card-tool-bg: var(--teal-300);
  --project-card-link-text: var(--gray-700);
  --project-card-link-text-hover: var(--gray-700);
  --project-card-link-bg: var(--blue-300);
  --project-card-link-bg-hover: var(--blue-500);

  .shadow {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:
      0 10px 25px var(--black-900-a20),
      0 20px 50px var(--black-900-a10);
  }
}

:root.theme-dark {
  /* backgrounds */
  --bg-page: var(--blue-900);
  --bg-button: var(--teal-800);
  --bg-nav: var(--blue-900-a80);

  /* main color */
  --color-primary-main: var(--blue-700);
  --color-primary-hover: var(--blue-800);
  --color-primary-active: var(--blue-500);

  /* accent color */
  --color-accent-main: var(--teal-700);
  --color-accent-hover: var(--teal-600);
  --color-accent-active: var(--teal-500);

  /* text */
  --text-primary: var(--gray-0);
  --text-secondary: var(--gray-300);

  /* borders */
  --border-subtle: var(--black-900-a10);
  --border-strong: var(--black-900-a20);

  /* Terminal */
  --terminal-header: var(--gray-300);
  --terminal-bg: var(--blue-gray-800);
  --terminal-key: var(--orange-500);
  --terminal-value: var(--orange-300);

  /* Project */
  --project-card-bg: var(--gray-700);
  --project-card-tool-text: var(--teal-300);
  --project-card-tool-bg: var(--teal-700);
  --project-card-link-text: var(--gray-100);
  --project-card-link-text-hover: var(--gray-700);
  --project-card-link-bg: var(--blue-700);
  --project-card-link-bg-hover: var(--blue-500);

  .shadow {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:
      0 10px 25px var(--blue-700-a20),
      0 20px 50px var(--blue-700-a10);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  min-height: 100dvh;
  margin: 0;
  background-position-x: center;
}

h1,
h2,
h3 {
  font-family: var(--ff-primary);
  line-height: var(--lh-heading);
  font-weight: var(--fw-bold);
  color: var(--text-primary);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

small {
  font-size: var(--fs-small);
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.px-5 {
  padding: 0 5px;
}

/* main START */

.layout {
  display: grid;
  grid-template-columns: 1fr;
}

.section:first-child {
  padding-top: 3rem;
}

.section-title {
  margin: 20px;
}

/* main END*/

/* nav START*/

.progress-container {
  position: fixed;
  width: 100%;
  height: 5px;
  overflow: hidden;
  z-index: 1001;
}

.progress-bar {
  height: 4px;
  background: linear-gradient(
    90deg,
    var(--color-primary-main) 25%,
    var(--teal-700) 50%,
    var(--color-primary-main) 75%
  );
  background-size: 200% 100%;
  animation: stripe 2s linear;
  transition: width 0.4s cubic-bezier(0.37, 0, 0.63, 1);
}

@keyframes stripe {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

.nav {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  color: var(--text-primary);
  justify-content: flex-end;
  align-items: center;
  gap: 1.75rem;
  margin-top: 20px;
}

.nav__controls {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  height: auto;
  z-index: 400;
}

.nav__toggle {
  position: relative;
  z-index: 150;
  height: fit-content;
  display: flex;
  align-items: start;
}

.nav__primary {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  width: min(70%, 320px);
  height: 100%;
  inset: 0 0 0 30%;
  padding: 5rem 1.5rem 1.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  /* background: hsl(0 0% 100% / 0.15); */
  background: var(--bg-nav);
  backdrop-filter: blur(1rem);

  transform: translateX(100%);
  transition: transform 300ms ease;

  pointer-events: none;
}

.nav__primary--open {
  transform: translateX(0);
  pointer-events: auto;
}

.nav__link {
  display: flex;
  padding: 1em 2em;
  width: 100%;
}

.nav__link > a {
  color: var(--text-primary);
  text-decoration: none;
}

.nav ul {
  width: 100%;
}

.navbar__open-close {
  display: flex;
  background: transparent;
  align-items: center;
  aspect-ratio: 1;
  border: none;
  margin-right: 25px;
}

.light-dark-toggle button {
  display: grid;
  place-items: center;
  color: inherit;

  padding: 0;
  border: none;
  background: none;

  line-height: 1;
}

/* nav mobile END*/

/* sidebar mobile START*/

.sidebar {
  display: none;
}

/* sidebar mobile END*/

/* hero START */

.subtitle {
  font-size: var(--fs-h3);
  color: var(--text-primary);
  border-right: 2px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: cursor 1.2s step-end infinite;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.hero__content {
  width: 100%;
  max-width: 960px;
  margin-inline: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 40px;
}

.hero__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.hero__image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.contact {
  display: flex;
  align-items: center;
}

.contact-link {
  padding: 0 25px;
  font-size: 40px;
  color: var(--text-primary);
}

.menu-icon {
  fill: var(--text-primary);
  z-index: 501;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 20px 20px;
  margin: 0 auto;
  max-width: 600px;
}

/* hero END */

/* terminal START*/

.terminal-container {
  width: 100%;
  max-width: 600px;
  grid-column: 2;
  margin: 20px auto;
  padding: 10px;
  font-family: 'consolas', 'roboto', monospace;
}

.terminal-header {
  background-color: var(--terminal-header);
  display: flex;
  justify-items: start;
  padding: 10px;
  column-gap: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.terminal-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.terminal-circle_close {
  background-color: #ff6159;
}

.terminal-circle_minimize {
  background-color: #ffbd2e;
}

.terminal-circle_maximize {
  background-color: #28c941;
}

.terminal-body {
  height: fit-content;
  padding: 1rem 0;
  width: 100%;
  display: grid;
  align-content: start;
  background-color: var(--terminal-bg);
}

/* .shadow {
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 20px 20px hsl(0deg 0% 0% / 0.075);
} */

.property {
  padding: 10px 20px;
}

.property:first-child {
  padding-top: 20px;
}

.property-key {
  color: var(--terminal-key);
}

.property-value {
  color: var(--terminal-value);
}

/* terminal END*/

/* projects START */

.projects__content {
  width: 100%;
  max-width: 960px;
  margin-inline: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects__layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  /* max-width: 960px; */
  margin: 0 auto;
}

.project-card {
  display: grid;
  grid-template-columns: 1;
  border: 1px solid var(--border-subtle);
  border-radius: 5px;
  padding: 20px;
  background-color: var(--project-card-bg);
}

.project-card__image {
  display: none;
}

.project-card__title {
  margin: 10px 0;
  color: var(--text-primary);
  font-weight: 900;
  font-size: var(--fs-h3);
}

.project-card__desc {
  font-size: var(--fs-small);
  color: var(--text-primary);
  line-height: 1.3em;
}

.project-card__tools {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}

.project-card__tool {
  font-size: var(--fs-small);
  list-style: none;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--project-card-tool-bg);
  color: var(--project-card-tool-text);
}

.project-card__tool:nth-child(n + 2) {
  margin: 0 10px;
}

.project-card__tool:nth-child(1) {
  margin-right: 5px;
}

.project-card__info {
  display: grid;
  grid-template-columns: 1;
}

.project-card__links {
  display: flex;
  flex-direction: row;
  font-size: var(--fs-xsmall);
}

.project-card__link {
  padding: 1px 5px 1px 0px;
  border-radius: 5px;
  border: 2px solid var(--border-strong);
  display: flex;
  align-items: center;
  color: var(--project-card-link-text);
  background-color: var(--project-card-link-bg);
}

.project-card__link > a {
  text-decoration: none;
}

.project-card__link > span {
  font-size: var(--fs-small);
}

.project-card__link:nth-child(n + 2) {
  margin: 0 10px;
}

.project-card__link:nth-child(1) {
  margin-right: 5px;
}

/* projects END */

/* footer Start */

.footer__content {
  justify-content: center;
  align-items: center;
  color: var(--gray-300);
}

/* Footer */

.footer__content {
  width: 100%;
  max-width: 960px;
  margin-inline: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray-300);
  gap: 2rem;
}

/* footer END */

/* misc */

.is-hidden {
  display: none !important;
}

/* media queries START */

@media (min-width: 960px) {
  .layout {
    display: grid;
    grid-template-columns:
      minmax(1rem, 1fr)
      minmax(0, 960px)
      minmax(1rem, 1fr);
  }

  .section {
    grid-column: 2;
    height: 100%;
    min-height: 100%;
  }

  .section:last-child {
    min-height: auto;
    height: auto;
  }

  /* nav */

  .nav {
    position: sticky;
    display: flex;
    top: 0px;
    margin: 0 auto;
    padding: 50px 200px;
    display: flex;
    height: 75px;
    justify-content: flex-end;
    align-items: center;
    background: var(--bg-nav);
    backdrop-filter: blur(4px);
    z-index: 500;
    transition: padding 0.3s cubic-bezier(0.2, 1, 0.7, 1);
  }

  .nav--shrink {
    padding: 40px 200px;
  }

  .nav__primary {
    position: relative;
    transform: none;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em 1.5em;
    height: auto;
    border: none;
    z-index: 1000;
    inset: 0;
    backdrop-filter: none;
    background: none;
    pointer-events: auto;
    order: 1;
  }

  .nav__toggle {
    margin-top: 0;
    order: 2;
    align-items: center;
  }

  .nav__link {
    position: relative;
    padding: 0.5em 0.5em;
    margin: 0 1em;
    transition: background-color 150ms ease-out;
    width: auto;
  }

  .nav__link__Resume {
    padding: 15px 20px;
    border-radius: 10px;
    border: solid 2px var(--border-strong);
    background-color: var(--project-card-link-bg);
    transition: 0.2s;
    font-size: var(--fs-body);
  }

  .nav__link__Resume:hover {
    background-color: var(--project-card-link-bg-hover);
    color: var(--project-card-link-text-hover);
  }

  .nav__link:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--blue-800);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
  }

  .nav__link:not(:last-child):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav__controls {
    display: none;
  }

  /* Hero */

  .hero__layout {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }

  .hero__content {
    padding: 0 1rem;
  }

  .hero__header {
    align-items: flex-start;
    text-align: left;
  }

  .hero__image img {
    width: 300px;
    height: 300px;
  }

  .contact-icon {
    transition: 0.05s;
  }

  .contact-icon:hover {
    transform: scale(1.1);
  }

  /* Terminal */

  .terminal-body {
    height: 300px;
  }

  .terminal-container {
    max-width: 840px;
    grid-column: 1 / span 2;
    align-self: start;
  }

  .button__navbar {
    display: none;
  }

  /* Project */

  .projects__content {
    display: grid;
    justify-content: center;
  }

  .projects__layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 960px;
    margin: 0 auto;
  }

  .project-card {
    transition: 0.1s;
    width: 100%;
  }

  .project-card:hover {
    transform: translateY(-10px);
  }

  .project-image {
    display: block;
  }

  .project-link {
    transition: 0.2s;
  }

  .project-card__link {
    transition: 0.2s;
  }

  .project-card__link:hover {
    background-color: var(--project-card-link-bg-hover);
    color: var(--project-card-link-text-hover);
  }
}

/* media queries END */
